<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>HAM test booklet for printing</title>

        <link rel="stylesheet" type="text/css" href="../node_modules/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../.skel/skel.css">
        <link rel="stylesheet" type="text/css" href="../site.css">
        <link rel="stylesheet" type="text/css" href="index.css">

        <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
        
        <script type="text/javascript" src="../.skel/async.js"></script>
        <script type="text/javascript" src="../site-model.js"></script>
        
        <script id="data" type="application/json" src="data/lib2022.json"></script>
        <script type="text/javascript" src="index-model.js"></script>
        <script type="text/javascript" src="../.skel/skel.js"></script>
        <script type="text/javascript" src="../.skel/site-supp.js"></script>
        <script type="text/javascript" src="../site.js"></script>
        <script type="text/javascript" src="index.js"></script>
        
        <!-- paged.js must be included at last, because it will modify the DOM. -->
        <script type="text/javascript" src="../node_modules/pagedjs/dist/paged.js"></script>
        <script type="text/javascript" src="../node_modules/pagedjs/dist/paged.polyfill.js"></script>

    </head>
<body class="flex-column full-size">
<div id="body">
    
    Total  {{ records.length }} records.
    
    <ol class="records">
        <li v-for="it in records" class="record">
            <span class="question">
                {{it.q}}
            </span>
            <ol class="answers">
                <li v-for="a in it.answers" :class="'i-' + a.index">
                    <span class="text">
                    {{a.text}}
                    </span>
                </li>
            </ol>
            
        </li>
    </ol>
    
</div>
</body>
</html>
