// -*- css -*-

body {
    font-size: 100%;
}

.records {
    columns: 2;
    column-gap: 2em;
    list-style-position: inside;
    padding: 0;
    
    .record {
        margin: 1em 0;
        //counter-increment: page;
        //break-inside: avoid-page;
        grid-column-start: 1;

        &:nth-child(even) {
            border: dotted 1px #f0f;
            background: #fff8ff;
            grid-column-start: 2;
        }
    }
    
    /*
    display: grid;
    .record {
        grid-column-start: 1;
        &:nth-child(even) {
            grid-column-start: 2;
        }
    }
    */
}

.question {
    color: #d3c;
}

.answers {
    li {
        color: #888;
        margin: .2em 0;
        font-size: 90%;
        list-style: upper-alpha;
        
    }
    
    .i-0 {
        color: #07d;
        font-weight: 400;
        font-size: 100%;
        span {
            border-bottom: dashed 1px #07d;
        }
    }
}

@page {
    // border: solid 1px red;
}

@page:left {
    margin-right: 1in;
}
@page:right {
    margin-left: 1in;
}
@page:left {
    @bottom-left {
        content: counter(page);
    }
}
@page:right {
    @bottom-right {
        content: counter(page);
    }
}
